#headerText{
	float: center;
	height:50px;
	font-family: 'Open Sans', sans-serif;
	font-size:200%;
	color:#ffffff;
	background-color:rgba(0,0,0,0.85);
	width:100%;
	padding-left:1%;
}
#garageDoor{
	width:100%;
	height:0px;
	/* Safari 5.1 to 6.0 */
	background: -webkit-repeating-linear-gradient(rgba(120,120,120,1) 6%, rgba(90,90,90,1) 9%, rgba(60,60,60,1) 10%);
	/* Opera 11.1 to 12.0 */
	background: -o-repeating-linear-gradient(rgba(60,60,60,0,1), rgba(90,90,90,0,1) 10%, rgba(90,90,90,0,1) 20%);
	/* Firefox 3.6 to 15 */
	background: -moz-repeating-linear-gradient(rgba(90,90,90,0,1), rgba(90,90,90,0,1) 10%, rgba(90,90,90,0,1) 50%);
	/* Standard syntax */
	background: repeating-linear-gradient(rgba(90,90,90,0,1), rgba(90,90,90,0,1) 10%, rgba(90,90,90,0,1) 20);
  
	font-family: 'Open Sans', sans-serif;
	font-size:200%;
	color:#ffffff;
	text-align: center;

	-webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
    animation: myfirst 5s;
  
}

#doorText{
	display: inline-block;
	line-height: normal; 
	padding-top:50%;
	}
	
	/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {	height:800px;}
    25%  {	height:600px;}
    50%  {	height:400px;
    100% {	height:200px;}
}

/* Standard syntax */
@keyframes myfirst {
    0%   {background: red;}
    25%  {background: yellow;}
    50%  {background: blue;}
    100% {background: green;}
}

body{
	margin:0px;
}
  